
:root {
  --softred: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --darkbrown: hsl(25, 47%, 15%);
  --mediumbrown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --paleorange: hsl(33, 100%, 98%);

  --darkblue: #20303f;
  --gray90: #E5E5E5;
  --lightblue: #50D0FF;
  --mediumblue: #00b7ff;
  --linkblue: hsl(199, 33%, 60.95%);
  /* --softred: #ff7f50; */
  --info: #50A4FF;
}